*{
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 80px;
    background:linear-gradient(lightgreen,blue,cyan);
    font-size: 50px;
    text-align: center;
    padding: 10PX;
    /* box-sizing: border-box; */
}
.section{
    width: 100%;
    /* height: 500px; */
}
.navbar{
    width: 22%;
    height: 500px;
    float: left;
    display: flex;
    flex-direction: column;
    border: 1px solid greenyellow;
    margin: 10px;
    margin-right: 0;
}
.navbar a{
    border: 1px solid grey;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
    margin: 10px;
    background-color: aquamarine;

}
.main{
    /* border: 1px solid red; */
    width: 75%;
    float: right;
    margin: 10px;
    /* height: 500px; */
    margin-left: 0;
}
.footer{
    clear: both;
    width: 100%;
    height: 50px;
    background:linear-gradient(lightgreen,blue,cyan);
    font-size: 30px;
    text-align: center;
    padding: 10PX;
}

.header_page{
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    font-size: 30px;
    padding: 8px;
    text-decoration: underline;
    color: blue;
    font-weight: bold;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}
.section_page{
    width: 100%;
    /* height: 440px; */
    background-color: blanchedalmond;
    padding: 10px;
}


.cards{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 20px;
    /* justify-items: center; */
    /* justify-content: space-around; */
     
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 400px;
    border: 1px solid #ddd;
    /* box-sizing: border-box; */
}
.card-head{
    height: 300px;
    background-color: #ddd;
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card-head span{
width: 40px;
height: 40px;
background-color: #fff;
border-radius: 30px;
text-align: center;
position: relative;
padding: 10px;
/* box-sizing: border-box; */
align-self: flex-end;
visibility: collapse;
}
.card-head:hover span{
    visibility: visible;
}
.card-head span:hover {
    background-color: red;
}
.kid_card1-head{
    background-image: url(./public/image/kid1.jpg);  
}
.kid_card1-head:hover{
    background-image: url(./public/image/kid2.jpg);
}
.kid_card2-head{
    background-image: url(./public/image/kid3.jpg);
}
.kid_card2-head:hover{
    background-image: url(./public/image/kid4.jpg);
}
.kid_card3-head{
    background-image: url(./public/image/kid5.jpg);
}
.kid_card3-head:hover{
    background-image: url(./public/image/kid6.jpg);
}
.kid_card4-head{
    background-image: url(./public/image/kid7.jpg);
}
.kid_card4-head:hover{
    background-image: url(./public/image/kid8.jpg);
}

.card-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    /* padding-bottom: 20px; */
    font-size: 14px;
    font-weight: bold;
}
.card-name{
    color: grey;
    font-size: 12px;
}
.card-price{
    color: grey;
    font-size: 16px;
}

.men_card1-head{
    background-image: url(./public/image/men1.jpg);
}
.men_card1-head:hover{
    background-image: url(./public/image/men2.jpg);
}
.men_card2-head{
    background-image: url(./public/image/men3.jpg);
}
.men_card2-head:hover{
    background-image: url(./public/image/men4.jpg);
}
.men_card3-head{
    background-image: url(./public/image/men5.jpg);
}
.men_card3-head:hover{
    background-image: url(./public/image/men6.jpg);
}
.men_card4-head{
    background-image: url(./public/image/men7.jpg);
}
.men_card4-head:hover{
    background-image: url(./public/image/men8.jpg);
}


.women_card1-head{
    background-image: url(./public/image/women1.jpg);
}
.women_card1-head:hover{
    background-image: url(./public/image/women2.jpg);
}
.women_card2-head{
    background-image: url(./public/image/women3.jpg);
}
.women_card2-head:hover{
    background-image: url(./public/image/women4.jpg);
}
.women_card3-head{
    background-image: url(./public/image/women5.jpg);
}
.women_card3-head:hover{
    background-image: url(./public/image/women6.jpg);
}
.women_card4-head{
    background-image: url(./public/image/women7.jpg);
}
.women_card4-head:hover{
    background-image: url(./public/image/women8.jpg);
}



.mobile_card1-head{
    background-image: url(./public/image/samsung1.jpg);
}
.mobile_card1-head:hover{
    background-image: url(./public/image/samsung2.jpg);
}
.mobile_card2-head{
    background-image: url(./public/image/realme1.jpg);
}
.mobile_card2-head:hover{
    background-image: url(./public/image/realme2.jpg);
}
.mobile_card3-head{
    background-image: url(./public/image/oppo1.jpg);
}
.mobile_card3-head:hover{
    background-image: url(./public/image/oppo2.jpg);
}
.mobile_card4-head{
    background-image: url(./public/image/vivo1.jpg);
}
.mobile_card4-head:hover{
    background-image: url(./public/image/vivo2.jpg);
}


@media screen and (max-width:900px){
   
    .cards{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 50px;
        padding-left: 10px;
        /* justify-items: center; */
        justify-content: center;
         
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 400px;
        border: 1px solid grey;
        justify-self: center;
    }
    .navbar{
        width: 35%;   
    }
    .main{
        width: 60%;
    }
  
}


    @media screen and (max-width:600px){
       
        .navbar a{
            border: 1px solid grey;
            padding: 12px;
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: blue;
            margin: 8px;
            background-color: aquamarine;
        }

    .card{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 400px;
        border: 1px solid #ddd;
    }  
}
   


@media screen and (max-width:480px){
    .header{
        width: 100%;
        height: 80px;
        background:linear-gradient(lightgreen,blue,cyan);
        font-size: 30px;
        text-align: center;
        padding-top: 20PX;
        /* box-sizing: border-box; */
    }
    .section{
        width: 100%;
        /* height: 500px; */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

    }
    .navbar{
        width: 90%;
        height: auto;   
    }
    .main{
        width: 90%;
        height: auto;
    }
    .navbar a{
        border: 1px solid grey;
        padding: 12px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: blue;
        margin: 8px;
        background-color: aquamarine;
    }

.card{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 400px;
    border: 1px solid #ddd;
} 
.footer{
    font-size: 20px;
    padding: 10PX;
} 
}



